/* General Styles */
body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow: hidden; /* Hide scrollbars */
}

/* Header Styles */
header {
    background-color: #ec4590;
    height: 30%;
    margin: 0;
    padding: 0;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: height 2s;
}

.title {
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    font-weight: 300;
    text-align: left;
    transition: font-size 3s;
}

.btn {
    position: absolute;
    top: 92%;
    right: 10%;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    background-color: #f9b24f;
    color: white;
}

.active-header {
    background-color: #ec4590;
    height: 10%;
    margin: 0;
    padding: 0;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.active-title {
    position: absolute;
    top: 35%;
    left: 5%;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: left;
}

.active-btn {
    position: absolute;
    top: 92%;
    right: 10%;
    border: none;
    padding: 8px 19.5px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    background-color: #f9b24f;
    color: white;
}

/* Instructions Styles */

h2 {
    color: #e61875;
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    font-weight: 300;
    margin-left: 5%;
    margin-top: 10%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 5.7%;
}

li {
    text-indent: -0.7em;
    margin-bottom: 5px;
    color: #777;
}

li::before {
    content: '• ';
    font-size: 20px;
    color: #e61875;
}

.instructions-active {
    display: none;
}

/* Main Content Styles */
.main-content {
    display: none;
}

.main-content-active {
    display: block;
    width: 100%;
}

.visuals {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Elevator Visual Styles */
.elevator-visual {
    width: 55%;
}

.elevator {
    position: relative;
    max-width: 10vw;
    margin-left: 6vw;
}

.floor{
    position: relative;
}

.hidden-destination{
    position: absolute;
    bottom: 10vw;
    left: 11vw;
    background: none;
    height: 5px;
    width: 5px;
}

.floor-bound {
    width: 75%;
    margin-bottom: 15vw;
}

#first-floor, #second-floor{
    margin-bottom: 0;
}

.floor-title {
    margin: 0;
    padding: 0;
    text-align: right;
    color: #777;
    margin-right: 6vw;
}

#floor-four-lable {
    margin-top: 15vw;
}

/* Queue Styles */
.queue {
    width: 44%;
    margin-top: 7vw;
}

.queue-title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    margin-top: 5vw;
}

.queue-list {
    border-style: solid;
    border-width: 1px;
    height: 70vw;
    text-align: center;
}

.queue-list-item {
    margin: 5px 0;
    padding: 0;
    color: #777;
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: .65rem;
}

/* Following 2 classes used to update queue-list-items in order to provide better user experience */
.in-progress {
    color: #f9b24f;
}

.complete {
    color: #47ca40;
}

/* Pannel buttons Styles */
.button-panel {
    width: 100%;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 50px;
}

.e-btn {
    position: static;
    border: none;
    padding: 8px 19.5px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    background-color: #f9b24f;
    color: white;
}

.e-btn-simulate{
    position: static;
    border: none;
    padding: 8px 19.5px;
    vertical-align: middle;
    text-align: center;
    cursor: none;
    pointer-events: none;
    border-radius: 50%;
    font-size: 24px;
    background-color: #777;
    color: white;
}

.btn-start{
    position: static;
    border: none;
    padding: 8px 21px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 5%;
    font-size: 24px;
    background-color: #b77110;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}

.btn-reset{
    position: static;
    border: none;
    padding: 8px 21px;
    vertical-align: middle;
    text-align: center;
    cursor: none;
    pointer-events: none;
    border-radius: 5%;
    font-size: 24px;
    background-color: #777;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

/* Media Queries */
@media only screen and (max-width: 359px) {
    .title {
        top: 25%;
    }

    .active-title {
        font-size: 1.5rem;
    }

    .visuals {
        margin-top: 5vw;
    }

    .queue-list {
        height: 77vw;
    }

    .queue-list-item {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 500px) {
    .queue-list {
        text-align: left;
    }

    .queue-list {
        height: 65vw;
    }

    .queue-list-item {
        font-size: .95rem;
    }
}

@media only screen and (min-width: 800px) {
    .elevator-visual {
        width: 50%;
    }

    .elevator {
        max-width: 7vw;
    }

    .floor-bound {
        margin-bottom: 10vw;
    }

    #floor-four-lable {
        margin-top: 10vw;
    }

    .hidden-destination{
        bottom: 7vw;
        left: 9.5vw;
    }

    /* Queue Styles */
    .queue {
        width: 35%;
        margin-top: 3.5vw;
    }

    .queue-list {
        height: 43vw;
    }

    .queue-list-item {
        margin: 10px 0;
        margin-left: 2vw;
    }
}

@media only screen and (min-width: 1000px) {

  .elevator-visual {
      width: 40%;
      margin-left: 8vw;
  }

  .elevator {
      max-width: 6vw;
  }

  .floor-bound {
      margin-bottom: 7vw;
  }

  #floor-four-lable {
      margin-top: 6vw;
  }

  .hidden-destination{
    bottom: 4.5vw;
    left: 9vw;
}

  /* Queue Styles */
  .queue {
      margin-top: .3vw;
  }

  .queue-list {
      height: 28.5vw;
  }

  .queue-list-item {
      margin: 10px 0;
      margin-left: 2vw;
      font-size: 1.4rem;
  }
}
